[user]
    name = Andrey Paramonov
    email = git@ndpar.com
[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    ss = status -sb
    ci = commit
    co = checkout
    br = branch
    df = diff
    lg = log -p
    k = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev=8
[pull]
    rebase = true
[push]
    default = tracking
[rerere]
    enabled = 1
